@import url('/css/reset.css');
@import url('/css/variables.css');

* {
    font-family: var(--primary-kr);
    font-weight: 300;
}

body {
    margin: 0;
    color: var(--dark-black);
    line-height: 1.5em;
    font-size: 14px;
}

/* Common HTML */
.container {
    border: 1px solid #000;
    width: 375px;
    position: relative;
}

.logo {
    font-family: var(--logo-en);
}

.btn-primary {
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    padding: 8px;
}

.gnb {
    border-top: solid 1px var(--gloudy-grey);
    height: 65px;
    display: flex;
    justify-content: space-between;
    /*position은 배포할때 fixed로 변경*/
    /* position: absolute; 
    bottom: 0;  */
    width: 375px; /*이런 부분은 배포하고 100%로 변경*/
    background-color: #fff;
}
.gnb a {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gnb a .bi {
    font-size: 22px;
}
.gnb a:nth-child(1) .bi,
.gnb a:nth-child(4) .bi {
    font-size: 26px;
}
.gnb a span {
    display: block;
    font-size: 13px;
}

.main-header {
    height: 80px;
    background-color: var(--crimson);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-back {
    background-color: transparent;
    border: none;
    color: #fff;
    flex: 1;
}
.main-header .logo {
    color: #fff;
    font-size: 26px;
    margin: 0;
    text-align: center;
    flex: 6;
}
.user-alarm {
    flex: 1;
    font-size: 22px;
    color: #fff;
}
.user-alarm span {
    border: solid 1px #000;
    position: relative;
}
.user-alarm span em {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--royalblue);
    border-radius: 50%;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-alarm span em::before {
    content: attr(data-count);
    font-style: normal;
    font-size: 10px;
    font-family: var(--primary-en );
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% ); */
}

/* .signin-content,
.signup-content {
    padding: 20px;
} */
/*본문을 감싸는 클래스 이름에 content 가 공통적으로 들어간다 전체 패딩줄 수 있다 */
[class*=content] {
    padding: 20px;
}

/* Signin HTML */
.container.signin {
    height: 750px;
    position: relative;
}
.signin-inner {}
.signin-photo {
    height: 250px;
    background: url('/images/signin-header.jpg') no-repeat;
}
.signin-content {
    padding: 20px;
}
.signin-header {
    text-align: center;
}
.signin-header .logo {
    font-size: 26px;
    margin-bottom: 0;
}
.signin-header p {
    font-size: 16px;
    font-weight: 400;
}
.signin-field {}
.signin-field input {
    border: solid 1px var(--gainsboro);
    padding: 10px 20px;
    width: 100%;
    border-radius: 30px;
    margin: 5px 0;
}
.signin-field input:focus {
    border-color: var(--yellowgreen);
}
.signin-field input::placeholder {
    color: var(--silvergrey);
    transition: 0.35s;
}
.signin-field input:focus::placeholder {
    /* visibility: hidden; */
    opacity: 0;
}
.status {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}
.status label {}
.checkbox label input[type=checkbox] {
    display: none;
}
.checkbox label input[type=checkbox] + em {
    /* border: solid 1px #000; */
    width: 16px;
    height: 16px;
    display: inline-block;
    transform: translateY(5px);
    margin-right: 3px;
}
.checkbox label input[type=checkbox] + em::before {
    content: '\F26B';
    font-family: bootstrap-icons;
    font-style: normal;
    color: var(--dark-grey);
    transform: translateY(-3px);
    display: inline-block;
}
.checkbox label input[type=checkbox]:checked + em::before {
    color: var(--crimson);
}
.status a {}


/* Preloading HTML */
.container.preloading {
    height: 750px;
}
.preloading-inner {
    height: inherit;
    background: url('/images/preloading-back.jpg') no-repeat center left -130px;
    background-size: cover;
}
.heading-preloading {
    position: absolute;
    top: 75px;
    left: 30px;
}
.heading-preloading .logo {
    font-size: 32px;
    color: var(--crimson);
    white-space: nowrap;
}
.slogan {

}
.slogan span {
    display: block;
    font-family: var(--secondary-kr);
    font-weight: bold;
    font-size: 28px;
    margin: 15px 0px;
}
.btn-signin {
    background-color: var(--yellowgreen);
}
.join-member {
    text-align: center;
    margin: 15px 0;
}
.join-member a {
    text-decoration: underline;
}
.easy-signin {
    text-align: center;
}
.easy-signin span {
    color: var(--light-grey);
}
.social-btn {
    margin: 10px 0;
}
.social-btn a {
    margin: 2px;
}

/*signup html*/

.signup {}
.signup-inner {}

.signup-field {
    margin-bottom: 10px;
}
.signup-field span {
    display: block;
}
.signup-field span em {
    color: var(--crimson);
}
.signup-field.id-pw input {
    width: 100%;
    border: none;
    border-bottom: solid 1px var(--gainsboro);
    padding: 8px 0;
}
.signup-field.id-pw input::placeholder {
    color: var(--light-grey);
} 
.signup-field.id-pw input:focus,
.signup-field.birth div > *:focus,
.signup-field.phone div input:focus {
    border-color: var(--yellowgreen);
}
.signup-field.id-pw input:focus::placeholder,
.signup-field.birth div > *:focus::placeholder,
.signup-field.phone div input:focus::placeholder {
    visibility: hidden;
}
.signup-field.birth {}
.signup-field.birth div {
    display: flex;
    gap: 10px;
}
.signup-field.birth div > *,
.signup-field.phone div > * {
    /* flex: 1; 정확히 3등분이 안됨 */
    width: 33.3333%;
    border: solid 1px var(--gainsboro);
    border-radius: 3px;
    padding: 7px;
    text-align: center;
    color: var(--silvergrey);
}
.signup-field.birth div input {}
.signup-field.birth div select {}
.signup-field.phone {}
.signup-field.phone span,
.signup-field.birth span {
    margin-bottom: 5px;
}
.signup-field.phone div {
    display: flex;
    gap: 10px
}
.signup-field.phone div input {
    flex: 5;
}
.signup-field.phone div button {
    flex: 2;
    background-color: #fff;
}
.agree-term {
    margin-bottom: 15px;
}
.agree-term label {
    display: block;
    font-size: 13px ;
}
.btn-signup {
    background-color: var(--crimson);
}

/* Category HTML */
.category {}
.category-inner {}
.category-content {
    padding: 0px;
}
.category-accordion {
    font-size: 16px;
}
.category-accordion .title {
    border-bottom: solid 1px var(--gloudy-grey);
    height: 50px;
    display: flex;
    align-items: center;
    color: var(--crimson);
    font-weight: 400;
    cursor: pointer;
    position: relative;
    padding: 0 20px;
}
.category-accordion .title::after {
    content: '\F282';
    font-family: bootstrap-icons;
    background-color: var(--fuschia);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    position: absolute;
    right: 20px;
    transition: 0.35s;
}
.category-accordion .title.active::after {
    background-color: transparent;
    transform: rotateX(180deg);
}
.category-accordion .detail {
    display: none;
    line-height: 2em;
    padding: 7px 0;
    background-color: var(--snow);
    padding: 0 20px;
}
.category-accordion .detail a {
    display: block;
    padding: 8px 0;
}