@import url('/css/reset.css');
@import url('/css/variables.css');

* {
    font-family: var(--primary-kr);
    font-weight: 300;
}

body {
    margin: 0;
    color: var(--dark-black);
    line-height: 1.5em;
    font-size: 14px;
}

/* Common HTML */
.container {
    border: 1px solid #000;
    width: 375px;
    position: relative;
}

.logo {
    font-family: var(--logo-en);
}

.btn-primary {
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    padding: 8px;
}

.gnb {
    border-top: solid 1px var(--gloudy-grey);
    height: 65px;
    display: flex;
    justify-content: space-between;
    /*position은 배포할때 fixed로 변경*/
    /* position: absolute; 
    bottom: 0;  */
    width: 375px; /*이런 부분은 배포하고 100%로 변경*/
    background-color: #fff;
}
.gnb a {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gnb a .bi {
    font-size: 22px;
}
.gnb a:nth-child(1) .bi,
.gnb a:nth-child(4) .bi {
    font-size: 26px;
}
.gnb a span {
    display: block;
    font-size: 13px;
}

.main-header {
    height: 80px;
    background-color: var(--crimson);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-back {
    background-color: transparent;
    border: none;
    color: #fff;
    flex: 1;
}
.main-header .logo {
    color: #fff;
    font-size: 26px;
    margin: 0;
    text-align: center;
    flex: 6;
}
.user-alarm {
    flex: 1;
    font-size: 22px;
    color: #fff;
}
.cart-alarm b,
.user-alarm span {
    /* border: solid 1px #000; */
    position: relative;
}
.cart-alarm b em,
.user-alarm span em {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--royalblue);
    border-radius: 50%;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-alarm b em {
    color: #fff;
    top: 0;
    right: 20px;
}
.cart-alarm b em::before,
.user-alarm span em::before {
    content: attr(data-count);
    font-style: normal;
    font-size: 10px;
    font-family: var(--primary-en );
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% ); */
}

/* .signin-content,
.signup-content {
    padding: 20px;
} */
/*본문을 감싸는 클래스 이름에 content 가 공통적으로 들어간다 전체 패딩줄 수 있다 */
[class*=content] {
    padding: 20px;
}

.btn-all-clear {
    border: none;
    font-size: 11px;
    background-color: var(--gainsboro);
    color: #fff;
    border-radius: 20px;
    padding: 2px 8px;
}
.btn-clear {
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: var(--light-grey);
}

/* Signin HTML */
.container.signin {
    height: 750px;
    position: relative;
}
.signin-inner {}
.signin-photo {
    height: 250px;
    background: url('/images/signin-header.jpg') no-repeat;
}
.signin-content {
    padding: 20px;
}
.signin-header {
    text-align: center;
}
.signin-header .logo {
    font-size: 26px;
    margin-bottom: 0;
}
.signin-header p {
    font-size: 16px;
    font-weight: 400;
}
.signin-field {}
.signin-field input {
    border: solid 1px var(--gainsboro);
    padding: 10px 20px;
    width: 100%;
    border-radius: 30px;
    margin: 5px 0;
}
.signin-field input:focus {
    border-color: var(--yellowgreen);
}
.signin-field input::placeholder {
    color: var(--silvergrey);
    transition: 0.35s;
}
.signin-field input:focus::placeholder {
    /* visibility: hidden; */
    opacity: 0;
}
.status {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}
.status label {}
.checkbox label input[type=checkbox] {
    display: none;
}
.checkbox label input[type=checkbox] + em {
    /* border: solid 1px #000; */
    width: 16px;
    height: 16px;
    display: inline-block;
    transform: translateY(5px);
    margin-right: 3px;
}
.checkbox label input[type=checkbox] + em::before {
    content: '\F26B';
    font-family: bootstrap-icons;
    font-style: normal;
    color: var(--dark-grey);
    transform: translateY(-3px);
    display: inline-block;
}
.checkbox label input[type=checkbox]:checked + em::before {
    color: var(--crimson);
}
.status a {}


/* Preloading HTML */
.container.preloading {
    height: 750px;
}
.preloading-inner {
    height: inherit;
    background: url('/images/preloading-back.jpg') no-repeat center left -130px;
    background-size: cover;
}
.heading-preloading {
    position: absolute;
    top: 75px;
    left: 30px;
}
.heading-preloading .logo {
    font-size: 32px;
    color: var(--crimson);
    white-space: nowrap;
}
.slogan {

}
.slogan span {
    display: block;
    font-family: var(--secondary-kr);
    font-weight: bold;
    font-size: 28px;
    margin: 15px 0px;
}
.btn-signin {
    background-color: var(--yellowgreen);
}
.join-member {
    text-align: center;
    margin: 15px 0;
}
.join-member a {
    text-decoration: underline;
}
.easy-signin {
    text-align: center;
}
.easy-signin span {
    color: var(--light-grey);
}
.social-btn {
    margin: 10px 0;
}
.social-btn a {
    margin: 2px;
}

/*signup html*/

.signup {}
.signup-inner {}

.signup-field {
    margin-bottom: 10px;
}
.signup-field span {
    display: block;
}
.signup-field span em {
    color: var(--crimson);
}
.signup-field.id-pw input {
    width: 100%;
    border: none;
    border-bottom: solid 1px var(--gainsboro);
    padding: 8px 0;
}
.signup-field.id-pw input::placeholder {
    color: var(--light-grey);
} 
.signup-field.id-pw input:focus,
.signup-field.birth div > *:focus,
.signup-field.phone div input:focus {
    border-color: var(--yellowgreen);
}
.signup-field.id-pw input:focus::placeholder,
.signup-field.birth div > *:focus::placeholder,
.signup-field.phone div input:focus::placeholder {
    visibility: hidden;
}
.signup-field.birth {}
.signup-field.birth div {
    display: flex;
    gap: 10px;
}
.signup-field.birth div > *,
.signup-field.phone div > * {
    /* flex: 1; 정확히 3등분이 안됨 */
    width: 33.3333%;
    border: solid 1px var(--gainsboro);
    border-radius: 3px;
    padding: 7px;
    text-align: center;
    color: var(--silvergrey);
}
.signup-field.birth div input {}
.signup-field.birth div select {}
.signup-field.phone {}
.signup-field.phone span,
.signup-field.birth span {
    margin-bottom: 5px;
}
.signup-field.phone div {
    display: flex;
    gap: 10px
}
.signup-field.phone div input {
    flex: 5;
}
.signup-field.phone div button {
    flex: 2;
    background-color: #fff;
}
.agree-term {
    margin-bottom: 15px;
}
.agree-term label {
    display: block;
    font-size: 13px ;
}
.btn-signup {
    background-color: var(--crimson);
}

/* Category HTML */
.category {}
.category-inner {}
.category-content {
    padding: 0px;
}
.category-accordion {
    font-size: 16px;
}
.category-accordion .title {
    border-bottom: solid 1px var(--gloudy-grey);
    height: 50px;
    display: flex;
    align-items: center;
    color: var(--crimson);
    font-weight: 400;
    cursor: pointer;
    position: relative;
    padding: 0 20px;
}
.category-accordion .title::after,
.user-shortcut a::after {
    content: '\F282';
    font-family: bootstrap-icons;
    background-color: var(--fuschia);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    position: absolute;
    right: 20px;
    transition: 0.35s;
}
.category-accordion .title.active::after {
    background-color: transparent;
    transform: rotateX(180deg);
}
.category-accordion .detail {
    display: none;
    line-height: 2em;
    padding: 7px 0;
    background-color: var(--snow);
    padding: 0 20px;
}
.category-accordion .detail a {
    display: block;
    padding: 8px 0;
}

/* search html */
.search {}
.search-inner {}
.search-content {}
.search-field {}
.search-field input {
    border: none;
    padding: 8px;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    background: var(--snow) url('/images/icon-search.svg') no-repeat center left 15px;
    padding-left: 40px;
}
.search-recent {
    margin: 25px 0;
}
.search-recent .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-recent .title h3 {
    margin: 0px;
    color: var(--crimson);
    font-size: 16px;
}

.search-recent .items {
    margin: 15px 0;
}
.search-recent .items .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--gloudy-grey);
    padding: 8px 0 ;
}
.search-recent .items .item span {
    font-size: 15px;
}
.search-increase {}
.search-increase title {}
.search-increase title h3 {
    font-size: 16px;
    margin-bottom: 0px;
}
.search-increase title p {
    padding: 0;
}
.search-increase-list {
    list-style: none;
    padding-left: 15px;
    counter-reset: rank 0;
    line-height: 2em;
    font-size: 15px;
}
.search-increase-list li::before {
    counter-increment: rank;
    content: counter(rank);
    margin-right: 10px;
    font-weight: 500;
}

/* mypage html */
.mypage {}
.mypage-inner {}
.mypage-content {
    padding: 0;
}
.user-info {
    padding: 20px;
    display: flex;
    gap: 5px;
}
.user-avatar {
    flex: 1;
}
.user-avatar img {
    width: 60px;
    border-radius: 50%;
}
.user-summary {
    flex: 4;
}
.user-summary .rating {}
.user-summary .rating .btn-setting {
    float: right;
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: var(--silver-grey);
}
.user-summary .rating span {
    font-weight: 400;;
}
.user-summary .rating b {
    font-weight: 500;
    text-transform: uppercase;
    color: var(--limegreen);
}
.nickname {
    font-size: 18;
    margin-top: 5px;
}
.point-coupon {
    display: flex;
    gap: 5px;
}
.point-coupon div {
    background-color: var(--gloudy-grey);
    border-radius: 20px;
    text-align: center;
    padding: 2px 15px;
    display: flex;
    justify-content: space-between;
}
.point-coupon div span {
    font-size: 13px;
    font-weight: normal;
}
.point-coupon div span:first-child {}
.point-coupon div span:last-child {
    color: var(--crimson);
}
.point-coupon .point {
    flex: 3;
}
.point-coupon .coupon{
    flex: 1;
}
.delivering {
    padding: 20px;
}
.delivering-items {
    border: 1px solid var(--gloudy-grey);
    padding: 15px;
    border-radius: 5px;
}
.delivering h2 {
    font-size: 16px;
}
.delivering-item {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid var(--gloudy-grey);
    padding: 10px;
}
.delivering-item:first-child {
    padding-top: 0px;
}
.delivering-item:last-child {
    border: 0px;
    padding-bottom: 0px;
}
.delivering-item .thum {
    width: 60px;
    height: 60px;
}
.delivering-item .thum img {
    object-fit: cover;
    width: inherit;
    height: inherit;
    border-radius: 5px;
}
.delivering-item .desc {}
.delivering-item .desc span {
    font-weight: normal;
}
.delivering-item .desc b {
    display: block;
    color: var(--limegreen);
    font-weight: 400;
    font-size: 16px;
}
.mypage .banner {}
.mypage .banner a img {
    width: 100%;
}
.user-shortcut {}
.user-shortcut a {
    display: flex;
    border-bottom: 1px solid var(--gloudy-grey);
    height: 50px;
    align-items: center;
    padding: 0 15px;
    font-size: 15px;
}
.user-shortcut a::after {
    transform: rotate(270deg);
    background-color: transparent;
}
.user-shortcut a span {
    font-weight: 400;
    margin-left: 5px;
}
.user-shortcut a .bi {
    width: 25px;
    text-align: center;
}
.user-shortcut a:last-child {
    border: none;
}
.user-shortcut a:nth-child(2) .bi {
    font-size: 16px;
} 

/* cart html */
.cart {}
.cart-inner {}
.cart-content {
    padding: 0;
}
.cart-items-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 0;
}
.cart-items-header h3 {
    margin: 0;
    font-size: 16px;
}
.cart-items-summary {
    padding: 20px ;
}
.cart-items-summary div {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.cart-items-summary div:last-child {
    border-top: solid 1px var(--gloudy-grey);
    padding-top: 15px;
}
.cart-items-summary div span {
    font-size: 15px;
}
.cart-items-summary div span:last-child {
    font-weight: 500;
}
.cart-items-summary div span:first-child {
    font-weight: normal;
}
.cart-items-summary div:last-child span:last-child {
    font-size: 20px;
}
.btn-order {
    background-color: var(--royalblue);
    border-radius: 0;
}
.cart-notice {
    font-size: 13px;
    color: var(--light-grey);
    list-style: none;
    padding-left: 18px;
}
.cart-notice li::before {
    content: '-';
    margin-right: 5px;
}
.cart-items {
    
}
.cart-item {
    padding: 20px;
    border-bottom: solid 1px var(--gloudy-grey);
}
.cart-item-title {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}
.cart-item-title input[type=checkbox] {
    transform: translateY(-3px);
    width: 55px;
    height: 55px;
}
.cart-item-title .btn-clear {
    transform: translate(5px, -1px);
    font-size: 20px;
}
.cart-item-desc {
    display: flex;
    gap: 10px;
}
.card-item-thum {
    width: 80px;
    height: 80px;
    flex: 1;
}
.card-item-thum img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 5px;
}
.card-item-info {
    flex: 3;
}
.card-item-info span {
    display: block;
}
.delivery-date {
    color: var(--limegreen);
    font-weight: normal;
}
.delivery-time {
    margin: 8px 0;
}
.total-price {
    font-size: 18px;
    font-weight: normal;
}
.benefit {
    background-color: rgb(242, 230, 53, 0.4);
    margin: 10px 0;
}
.benefit em {
    font-style: normal;
    font-size: 12px;
    border-radius: 3px;
    margin-left: 5px;
}
.benefit em::before {
    content: '\F26E';
    font-family: bootstrap-icons;
    font-size: 14px;
    transform: translateY(4px);
    display: inline-block;
}
/* custom select case 1 */
/* .custom-select {
    appearance: none;
    border: solid 1px var(--gloudy-grey);
    width: 70px;
    text-align: center;
    background: url('/images/icon-carret.svg') no-repeat center right 5px;
    background-size: 10px;
} */
.custom-select-div {
    width: 70px;
    height: 30px ;
    border: solid 1px var(--gloudy-grey);
    background-color: var(--snow);
    display: flex;
    align-items: center;
    position: relative;
}
.custom-select-div::after {
    position: absolute;
    content: '\F229';
    font-family: bootstrap-icons;
    right: 8px;
    font-size: 12px;
    top: 5px;
    border-left: solid 1px var(--gloudy-grey);
    padding-left: 8px;
    pointer-events: none;
}
.custom-select-div select {
    padding-left: 16px;
    appearance: none;
    width: 100%;
    border: none;
    background-color: transparent;
}

/* front html */
.front {}
.front-inner {}
.front-content {
    padding: 0 ;
}
/* front category navigation */
.category-navigation {
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.category-navigation a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: normal;
}
.category-navigation a.active {
    border-bottom: 3px solid var(--crimson);
    color: var(--crimson);
}
/* front banner */
.front .banner a img {
    width: 100%;
}